VERSION=0.0.1

# Server
POSTGRES_DB=gophkeeper
POSTGRES_USER=gophkeeper
POSTGRES_PASSWORD=gophkeeper
DATABASE_DSN=postgres://user:pass@localhost:5432/gophkeeper?sslmode=disable
JWT_SECRET=change-me-in-production
LISTEN_ADDR=:8080

# Client
SERVER_ADDRESS=http://localhost:8080
GOPHKEEPER_CONFIG_DIR=/home/user